<!--About-->
<section id="sobre_mi" class="container-fluid about-container">
  <div class="container py-4 about">
    <h2 class="display-6 mb-3 h2-lines about-title">Sobre mí</h2>

    <div class="row align-items-center py-3 about-image-container">
      <div class="col-sm-4">
        <img
          src="../../../assets/images/sobre_mi.jpg"
          alt="Imágen CV"
          class="img-fluid about-image"
        />
      </div>
      <div class="col-sm-8 mt-3 about-text">
        <p class="fs-4">
          Hola ! Mi nombre es Pato, soy estudiante de Desarrollo Web Full Stack.
          <br />
          He realizado una Diplomatura en Desarrollador Web Full Stack, una
          especialización en GIS y varios cursos vinculados al desarrollo
          web.<br />
          Actualmente, estoy cursando #YoProgramo en Argentina Programa y el
          curso de Full Stack con Python en Codo a Codo.<br />
          Me considero una persona responsable, que busca el continuo
          aprendizaje, comprometida con el trabajo, versátil, dispuesta a
          trabajar en equipo y <strong>apasionada por la programación</strong>
          <br />
          <br />
          <span style="display: flex; justify-content: center"
            >¡Espero te guste mi portfolio!</span
          >
        </p>
      </div>
    </div>
  </div>
</section>
