<section id="proyectos" class="container-fluid">
  <div class="container py-4">
    <h2 class="display-6 mb-3 h2-lines">Proyectos</h2>
    <!-- <p class="fs-4">Estos son los proyectos realizados:</p> -->

    <div class="row justify-content-center projects-container">
      <div class="col-lg-6">
        <div class="card shadow m-3 card-height">
          <div>
            <img
              src="../../../assets/images/coffe_break2.jpg"
              alt="Coffee Break"
              class="img-fluid project-image"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title display-5 text-center">Coffee Break</h5>
            <p class="card-text fs-4 text-justify ">
              Trabajo Práctico Obligatorio para el programa Codo a Codo.<br> Apasionado por la programación y el café, decidí combinar ambos y surgió "Coffe Break". Es un Sitio Web estático y responsivo realizado con HTML, SCSS, JavaScript y GIT.<br>
              <strong>¡Un café siempre es una buena idea!</strong>
            </p>
          </div>
          <div class="row justify-content-between card-footer">
            <div class="col-md">
              <p class="fs-4"><span class="fw-bolder">Año:</span> 2022</p>
            </div>
            <div class="col-md text-center">
              <a href="https://ppagano91.github.io/TPO_Coffe-Break/" class="btn btn-lg" target="blank"
                >Ver Proyecto</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="card shadow m-3 card-height">
          <div>
            <img
              src="../../../assets/images/pokemon_web.jpg"
              alt="PokeNet"
              class="img-fluid project-image"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title display-5 text-center">Pokemon Web</h5>
            <p class="card-text fs-4 text-justify ">
              Sitio Web estático realizado durante el curso de Desarrollo Web Full Stack donde utilicé la API de Pokémon para hacer peticiones. Las tecnologías utilizadas con HTML, SCSS y Javascript
            </p>
          </div>
          <div class="row justify-content-between card-footer">
            <div class="col-md">
              <p class="fs-4"><span class="fw-bolder">Año:</span> 2021</p>
            </div>
            <div class="col-md text-center">
              <a
                href="https://ppagano91.github.io/PokemonWeb/"
                class="btn btn-lg"
                target="blank"
                >Ver Proyecto</a
              >
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
