<section id="educacion" class="container-fluid">
  <div class="container py-4">
    <h2 class="display-6 mb-3 h2-lines">Educación</h2>

    <ul class="row justify-content-center list-unstyled mt-3">

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="../../../assets/images/ArgentinaPrograma_v2.jpg" alt="Argentina Programa" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Full Stack Jr
              </h4>
              <p class="card-text fs-4">
                #YoProgramo es la segunda etapa del plan Argentina Programa. En esta capacitación se aprenden distintas herramientas y tecnologías tanto para el Frontend como Backend. Para el Frontend se utiliza HTML, CSS y Javascript, dentro del framework de Angular., mientra que para la parte de Backend y Base de datos se utiliza Java y SQL (MySQL). Además, se aprende sobre el uso de Github para crear nuestros propios repositorios
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-5">
                    <span class="fw-bolder">Período:</span>Febrero-Agosto 2022
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="../../../assets/images/CodoACodo.jpg" alt="Codo a Codo" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Full Stack Jr Con Python
              </h4>
              <p class="card-text fs-4">
                Es uno de los cursos del programa Codo a Codo, donde se adquieren conocimientos sobre tecnologías y herramientas de Frontend y Backend. Para la parte de Frontend se utiliza HTML, SCSS y Javascript, mientras que para la parte de Backend se utiliza el framework Django (Python) y MySQL (SQL).
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-5">
                    <span class="fw-bolder">Período:</span> Marzo-Julio 2022
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="../../../assets/images/ICARO.jpg" alt="Pachorra" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Diplomado en Desarrollo Web Full Stack
              </h4>
              <p class="card-text fs-4">
                Diplomatura dictada por la Universidad de Córdoba e ICARO, donde se adquieren conocimientos y habilidades en HTML, SCSS/CSS, Javascript, NodeJS, MySQL, GIT, entre otras herramientas.
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-5">
                    <span class="fw-bolder">Período:</span> 2021-2022
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="../../../assets/images/Logo-UBA-nuevo-blanco.png" alt="UBA" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Especialización en Ingeniería de Reservorios
              </h4>
              <p class="card-text fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                deleniti, molestias esse perspiciatis, totam quasi eum mollitia
                voluptas libero explicabo laudantium. Amet est atque
                consequuntur architecto accusamus maiores tempora iure?
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-5">
                    <span class="fw-bolder">Período:</span> 2019-2020
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>

      <li class="col-12 card mb-3">
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center">
            <div class="edu-img">
              <img src="../../../assets/images/UNS.png" alt="Norita" class="img-fluid" />
            </div>
          </div>

          <div class="col-md-8">
            <div class="card-body">
              <h4 class="card-title display-6 text-center">
                Licenciatura en Ciencias Geológicas
              </h4>
              <p class="card-text fs-4">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima
                deleniti, molestias esse perspiciatis, totam quasi eum mollitia
                voluptas libero explicabo laudantium. Amet est atque
                consequuntur architecto accusamus maiores tempora iure?
              </p>
              <div class="row justify-content-between">
                <div class="col-md">
                  <p class="fs-5">
                    <span class="fw-bolder">Período:</span> 2011-2017
                  </p>
                </div>
                <div class="col-md text-center">
                  <a href="#" class="btn btn-lg">Más info</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
