<section class="footer__container">
  <footer class="text-center text-white w-100">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
      <!-- Section: Social media -->
      <section class="">
        <!-- Facebook -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #3b5998;"
          href="#!"
          role="button"
          target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Whatsapp -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #3cd93a;"
          href="https://api.whatsapp.com/send?phone=+542916418967&text=Hola Mundo!"
          role="button"
          target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>

        <!-- Google -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #dd4b39;"
          href="mailto:pagano.patricio@gmail.com"
          role="button"
          target="_blank"
          ><i class="fab fa-google"></i
        ></a>

        <!-- Instagram -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #ac2bac;"
          href="#!"
          role="button"
          target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/patricio-pagano/"
          role="button"
          target="_blank"
          ><i class="fab fa-linkedin-in"></i
        ></a>
        <!-- Github -->
        <a
          class="footer-btn btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/ppagano91"
          role="button"
          target="_blank"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center p-3"
    >
      <a style="text-decoration: none; color:white;" href="https://linkedin.com">Patricio Pagano</a>
    </div>
    <!-- Copyright -->
  </footer>
</section>
