*,
html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: var(--font);
}

body,
html {
  min-height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.contenedor {
  width: 90%;
  margin: 0;
  max-width: 120rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: var(--font) !important;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

h4,
h5,
h6,
p,
a {
  font-weight: 400 !important;
}

a {
  color: var(--secondary);
}

.btn {
  color: var(--white) !important;
  background-color: var(--primary) !important;
}

.btn:hover {
  background-color: var(--grey) !important;
  color: var(--dark3-grey) !important;
}

.fa-solid {
  color: var(--primary);
}

.background-grey {
  background-color: var(--light-grey);
}
