<!--Contact-->
<section id="contacto" class="container-fluid">
  <div class="container py-4">
      <h2 class="display-6 mb-3 h2-lines">Contacto</h2>

      <div class="row">
          <div class="col-lg-4">
              <div class="card shadow card-height mb-3">
                  <div class="contact-img fs-3">
                      <i class="fa-solid fa-house"></i>
                  </div>
                  <div class="card-body mb-3">
                      <h5 class="card-title text-center fs-3">UBICACIÓN</h5>
                      <p class="card-text text-center fs-5">Bahía Blanca - Buenos Aires, Argentina</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="card shadow card-height mb-3">
                  <div class="contact-img fs-3">
                      <i class="fa-solid fa-envelope"></i>
                  </div>
                  <div class="card-body mb-3">
                      <h5 class="card-title text-center fs-3">EMAIL</h5>
                      <p class="card-text text-center fs-5">pagano.patricio@gmail.com</p>
                  </div>
              </div>
          </div>

          <div class="col-lg-4">
              <div class="card shadow card-height mb-3">
                  <div class="contact-img fs-3">
                      <i class="fa-solid fa-hashtag"></i>
                  </div>
                  <div class="card-body mb-3">
                      <h5 class="card-title text-center fs-3">SOCIAL MEDIA</h5>
                      <p class="card-text text-center fs-4">
                          <a href="https://github.com/ppagano91" target="_blank"><i class="fa-brands fa-github contact-href"></i></a>

                          <a href="https://www.linkedin.com/in/patricio-pagano/" target="_blank"><i class="fa-brands fa-linkedin contact-href"></i></a>

                          <a href="https://www.instagram.com/patricio.pagano/" target="_blank"><i class="fa-brands fa-instagram contact-href"></i></a>

                          <a href="https://api.whatsapp.com/send?phone=+542916418967&text=Hola Pato! Vi tu Portfolio en Github" target="_blank"><i class="fa-brands fa-whatsapp contact-href"></i></a>

                          <a href="mailto:pagano.patricio@gmail.com"><i class="fa-brands fa-google contact-href"></i></a>
                          <!-- <a href=""><i class="fa-brands fa-facebook"></i></a> -->
                      </p>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col p-3 shadow mt-3">
              <form name="form" action="#">
                  <div class="row g-3 py-3">
                      <div class="col-md-6">
                        <input type="text" class="form-control fs-5" placeholder="Ingresá tu nombre" aria-label="Ingresa tu nombre" required name="nombre" required>
                      </div>
                      <div class="col-md-6">
                        <input type="email" class="form-control fs-5" placeholder="Ingresá tu correo" aria-label="Ingresa tu correo" id="inputEmail" required name="email">
                      </div>
                      <div class="col">
                          <textarea class="form-control fs-5" placeholder="Dejame tus comentarios" style="height: 100px" required name="mensaje"></textarea>
                      </div>
                  </div>
                  <button type="button" name="submit" class="btn btn-lg">Enviar mensaje</button>
                  <br>
                  <span><small><strong>*Nota:</strong> El botón es solo de muestra. No envía ningún mensaje</small></span>
              </form>

          </div>

      </div>

  </div>
</section>
